@font-face {
  font-family: Inter;
  src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20,20,20);
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: Inter;
  flex-direction: column;
}
p {
  margin: 0;
  font-family: Inter;
}